<html lang="en">
  <head>
    <title>Ironbeer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/styles.css"/>
  </head>
  <body>
    {{> navbar }}
    <div class="container-beer">
      <img src="images/beer.png" width="50" height="50"/>
      <div class="buttons">
        <a href="/beers" class="btn btn-primary">Check the Beers!</a>
        <a href="/random-beers" class="btn btn-primary">Check a Random Beer</a>
      </div>
    </div>
    <div class="footer">
      <h2>Develop by Ironhack ;)</h2>
    </div>
  </body>
</html>