<html lang="en">
  <head>
    <title>Ironbeer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/styles.css"/>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li href="">Home</li>
        <li href="/beers">Beers</li>
        <li href="/random-beers">Random Beer</li>
      </ul>
    </div>
    <div class="container-beer">
      <img src="images/beer.png" width="50" height="50"/>
      <div class="buttons">
        <button type="button" class="btn btn-primary">Check the Beers!</button>
        <button type="button" class="btn btn-primary">Check a Random Beer</button>
      </div>
    </div>
    <div class="footer">
      <h2>Develop by Ironhack ;)</h2>
    </div>
  </body>
</html>