{{> navbar }}
<div class="beer-random">
  <img src="{{ beer.image_url }}"/>
  <div class="description-random">
    <h1>{{ beer.name }}</h1>
    <h2>{{ beer.tagline }}</h2>
    <p>{{ beer.description }}</p>
  </div>
</div>
<div class="footer">
  <h2>Develop by Ironhack ;)</h2>
</div>